<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SSRSDeployer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="ssrsdeploy" type="SSRSDeployer.SSRSDeployConfigSection, SSRSDeployer" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <SSRSDeployer.Properties.Settings>
      <setting name="SSRSDeployer_SSRSWebService_ReportingService2005"
        serializeAs="String">
        <value>http://localhost:80/ReportServer/ReportService2005.asmx</value>
      </setting>
    </SSRSDeployer.Properties.Settings>
  </applicationSettings>
  <ssrsdeploy target="http://{SERVERURL}/reports" domain="{Active_Directory_Domain}" username="{Username}" password = "{Password}">
    <folders>
      <add path="{Path_To_Folder_Containing_RDL_Files}" target="/PowerMenu3/Menugistics" datasource="{Name_Of_SSRS_DataSource}" connectionstring="Data Source=(local);Initial Catalog=DatabaseName"/>
    </folders>
  </ssrsdeploy>
</configuration>